.orchid-animation {
    width: 100vw; /* Set width to 100% of the viewport width */
    height: 100vh; /* Set height to 100% of the viewport height */
    background-image: url('orchids.jpg');
    background-size: cover; /* Ensure the image covers the entire container */
    background-position: center; /* Center the image within the container */
    animation: orchid-pulse 2s infinite alternate;
  }
  
  
  @keyframes orchid-pulse {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid black;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .popup p {
    margin: 0;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .button-container button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: bisque;
    background-color: black;
  }
  @media (max-width: 768px) {
    .orchid-animation {
      max-width: 100%; /* Allow the orchid animation to take up full width on smaller screens */
    }
  
    .popup {
      width: 80%; /* Adjust the width of the pop-up box */
      max-width: 300px; /* Set maximum width for smaller screens */
    }
    .orchid-animation {
        width: 100vw; /* Set width to 100% of the viewport width */
        height: 100vh; /* Set height to 100% of the viewport height */
        background-image: url('orchids1.jpeg');
        background-size: cover; /* Ensure the image covers the entire container */
        background-position: center; /* Center the image within the container */
        animation: orchid-pulse 2s infinite alternate;
      }
  }
  
  /* Add other styles as needed */
  